
body.newsatworkbulletin .view-newsatworkbulletin {

  div.select-wrapper {
    display: none;
  }

  h3:before {
    content: "\e118";
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-right: 3px;
    margin-bottom: -3px;
    color: orange;
  } 

}

