
.news-bulletin .row {
  padding: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.news-bulletin .title {
  font-size: 14px;
  padding: 5px 3px 0px 3px;
  color: #337ab7;
}

.news-bulletin .description {
  display: none;
  font-size: 12px;
  padding: 0 3px;
}

.news-bulletin .bulletin-card {
  display: inline-block;
  border: 2px solid white;
  margin-right: 1.5%;
  vertical-align: top;
  background-color: white;
}

.news-bulletin {
  cursor: pointer;
}

.news-bulletin .pagination {
  display: block;
  text-align: center;
}

.news-bulletin .bulletin-pager {
  background-color: white;
  display: inline-block;
  padding: 10px;
}

.news-bulletin .bulletin-card:hover {
  box-shadow: 0 15px 16px 5px rgba(0,0,0,0.15);
}
.news-bulletin .bulletin-card:hover .title,
.news-bulletin .bulletin-card:focus .title {
  text-decoration: underline;
}

#list {
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  padding-bottom: 50px;  /* TODO: necessary util we figure out how to .. */
  padding-top: 50px;     /*   .. constraint to the Y axis */
}

.tile {
  background-color: white;
  color: #3A3A4D;
  position: relative;  /* only in order to make z-index used */
  font-weight: bold;
}

/* mine below */

.tile {
  clear: both;
  /* display: table; not here */
  margin-top: 10px;
  padding: 0px;  /* any padding will screw up height calculation */
}

.tile:first-child {
  /* margin-top: 0;  if you do this, when the top piece is no longer
                     the top piece, it would need fixing in the code */
}

.tile .content {  /* this exists only so that we can have padding without messing up height calculations of tile */
  padding: 10px;
}

.tile {
  display: block;
}

.tile .cell {
  display: inline-block;
}

.tile .news-title {
  max-width: 230px;
  min-width: 230px;
  min-height: 20px;
  max-height: 20px;
}

.tile .from {
  max-width: 200px;
  min-width: 200px;
  min-height: 20px;
  max-height: 20px;
}

.tile .summary {
  max-width: 500px;
  min-width: 500px;
  min-height: 20px;
  max-height: 20px;
}

.glyphicon-move::before {
  position: absolute;
  left: -20px;
  top: 30px;
  color: darkgreen;
  cursor: ns-resize;
}

.glyphicon-folder-open::before, .glyphicon-folder-close::before {
  color: orange;
  font-size: xx-large;
}

.news-group-title {
  margin-left: 50px;
  margin-top: -18px;
  margin-bottom: 20px;
}
