
.news-bulletin .row {
  padding: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.news-bulletin .title {
  font-size: 14px;
  padding: 5px 3px 0px 3px;
  color: #337ab7;
}

.news-bulletin .description {
  display: none;
  font-size: 12px;
  padding: 0 3px;
}

.news-bulletin .bulletin-card {
  display: inline-block;
  border: 2px solid white;
  margin-right: 1.5%;
  vertical-align: top;
  background-color: white;
}

.news-bulletin {
  cursor: pointer;
}

.news-bulletin .pagination {
  display: block;
  text-align: center;
}

.news-bulletin .bulletin-pager {
  background-color: white;
  display: inline-block;
  padding: 10px;
}

table.table tr.value-row:hover {
  box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.12);
}

.tile {
  background-color: white;
  color: #3A3A4D;
}


table.table .glyphicon {
  display: revert;
}

thead .tb-news-group-title {
  overflow-y: visible;
  white-space: nowrap;
  font-weight: bold;
}

table .glyphicon-move::before {
  position: absolute;
  left: 100px;
  top: 12px;
  color: darkgreen;
  cursor: ns-resize;
  font-size: x-large;
}
table .glyphicon-folder-open::before, table .glyphicon-folder-close::before {
  padding-right: 10px;
}

.glyphicon-folder-open::before, .glyphicon-folder-close::before {
  color: orange;
  font-size: xx-large;
}
