 /* Admin css for the administration theme (override) */
html[lang="fr"] .english-only {
  display: none !important;
}

html[lang="en"] .french-only {
  display: none !important;
}

html[lang="fr"] body.path-admin .english-only.legacy-external-link {
  display: inherit !important;
  color: darkred;
}

html[lang="en"] body.path-admin .english-only.legacy-external-link::before {
  color: black;
}

html[lang="fr"] body.path-admin .french-only.legacy-external-link::before {
  color: black;
}

html[lang="en"] body.path-admin .french-only.legacy-external-link::after {
  content: " (external link displays in french)";
  color: black;
}

html[lang="fr"] body.path-admin .english-only.legacy-external-link::after {
  content: " (lien externe affiché en anglais)";
  color: black;
}

html[lang="fr"] body.path-admin .french-only.legacy-external-link {
  color: darkgreen;
}

html[lang="en"] body.path-admin .english-only.legacy-external-link {
  color: darkgreen;
}

html[lang="en"] body.path-admin .french-only.legacy-external-link {
  display: inherit !important;
  color: darkred;
}

body.path-admin #block-claro-content nav.breadcrumb {
  font-size: 1.3rem;
}

body.adminstructuremenumanagemain #menu-disabled-links-form,
body.adminstructuremenumanagesideb #menu-disabled-links-form {
  display: inline-block;
  margin-right: 20px;
  float: left;
  margin-left: 20px;
}

body.nodeaddempl .field-group-fieldset,
body.node-edit.page-node-type-empl .field-group-fieldset {
  width: 100% !important;
}

body.nodeaddempl .field-group-fieldset .js-form-item.form-item,
body.node-edit.page-node-type-empl .field-group-fieldset .js-form-item.form-item {
  float: inherit !important;
  width: auto;
  margin-right: auto;
}

body.nodeaddempl .field-group-fieldset .field--type-list-string,
body.node-edit.page-node-type-empl .field-group-fieldset .field--type-list-string {
  float: left;
  margin-right: 30px;
}

body.nodeaddempl .field-group-fieldset .paragraphs-subform,
body.node-edit.page-node-type-empl .field-group-fieldset .paragraphs-subform {
  max-height: 100px;
  margin-top: -90px;
  margin-left: 217px;
}

body.nodeaddempl select[name*="[subform][field_class_id]"],
body.node-edit.page-node-type-empl select[name*="[subform][field_class_id]"] {
  min-width: 165px;
}
body.nodeaddempl .paragraph-type-top div[data-drupal-selector^="edit-field-classification"],
body.node-edit.page-node-type-empl .paragraph-type-top div[data-drupal-selector^="edit-field-classification"] {
  margin-top: 30px;
  max-width: 120px;
  margin-left: 10px;
}

@media screen and (min-width: 992px) {
  body.etuf-sbs.nodeaddnews .layout-region-node-main, body.etuf-sbs.nodeaddnews .layout-region-node-footer {
    width: auto;
  }

  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-main .js-form-item.form-item,
  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer .js-form-item.form-item {
    float: inherit !important;
    width: auto;
    margin-right: auto;
  }

  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-main .js-form-item.form-item:nth-child(even),
  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer .js-form-item.form-item:nth-child(even) {
    float: inherit !important;
    width: auto;
    margin-left: auto;
  }

  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-main .js-form-item.form-item.form-type--textarea {
    width: auto;
  }

  body.etuf-sbs.nodeaddnews .layout-region-node-secondary {
    width: auto;
  }

  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer .js-form-item.form-item.form-item--moderation-state-0-state,
  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer transitionset {
    float: inherit !important;
    width: auto;
    margin-right: auto;
  }

  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer .js-form-item.form-item.form-item--moderation-state-etuf-fr-0-state,
  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer transitionset:nth-child(even) {
    float: inherit !important;
    width: auto;
    margin-left: auto;
  }

}

body.user-logged-in select[data-drupal-selector=edit-menu-parent] option,
body.path-node div[data-drupal-selector=edit-menu] option
{ 
  font-weight: bold;
  line-height: 3rem;
}

body.adminstructuremenumanagemain table[data-drupal-selector=edit-links] td{
  height: 0rem;
  padding: 0mm;
}

body.adminstructuremenumanagemain .tabledrag-cell-content .tree {
  min-height: 0%;
}

