@charset "UTF-8";
/* Admin css for the administration theme (override) */
html[lang="fr"] .english-only {
  display: none !important;
}

html[lang="en"] .french-only {
  display: none !important;
}

html[lang="fr"] body.path-admin table#menu-overview .english-only {
  display: inherit !important;
  color: darkred;
}

html[lang="en"] body.path-admin table#menu-overview .english-only::before {
  color: black;
}

html[lang="fr"] body.path-admin table#menu-overview .french-only::before {
  color: black;
}

html[lang="en"] body.path-admin table#menu-overview .french-only::after {
  content: " (external link displays in french)";
  color: black;
}

html[lang="fr"] body.path-admin table#menu-overview .english-only::after {
  content: " (lien externe affiché en anglais)";
  color: black;
}

html[lang="fr"] body.path-admin table#menu-overview .french-only {
  color: darkgreen;
}

html[lang="en"] body.path-admin table#menu-overview .english-only {
  color: darkgreen;
}

html[lang="en"] body.path-admin table#menu-overview .french-only {
  display: inherit !important;
  color: darkred;
}

/* breadcrumb css/scss/sass here */
body.path-admin #block-claro-content nav.breadcrumb {
  font-size: 1.3rem;
}

/* Menu css/sass/scss here */
body.adminstructuremenumanagemain #menu-disabled-links-form,
body.adminstructuremenumanagesideb #menu-disabled-links-form {
  display: inline-block;
  margin-right: 20px;
  float: left;
  margin-left: 20px;
}

body.user-logged-in select[data-drupal-selector=edit-menu-parent] option,
body.path-node div[data-drupal-selector=edit-menu] option {
  font-weight: bold;
  line-height: 3rem;
}

body.adminstructuremenumanagemain table[data-drupal-selector=edit-links] td {
  height: 0rem;
  padding: 0mm;
}

body.adminstructuremenumanagemain .tabledrag-cell-content .tree {
  min-height: 0%;
}

body[class*=moderationdashboard] nav[aria-label=Tabs] {
  visibility: hidden;
}

/* Put variables here for colors, fonts, etc */
/* This comment shows up in css file */
body.is-reviewer.node-edit.page-node-type-page #edit-advanced .form-item--menu-weight, body.is-reviewer.node-edit.page-node-type-landing-page #edit-advanced .form-item--menu-weight, body.is-reviewer.nodeaddpage #edit-advanced .form-item--menu-weight, body.is-reviewer.nodeaddlanding_page #edit-advanced .form-item--menu-weight,
body.is-creator.node-edit.page-node-type-page #edit-advanced .form-item--menu-weight,
body.is-creator.node-edit.page-node-type-landing-page #edit-advanced .form-item--menu-weight,
body.is-creator.nodeaddpage #edit-advanced .form-item--menu-weight,
body.is-creator.nodeaddlanding_page #edit-advanced .form-item--menu-weight,
body.is-ccpub.node-edit.page-node-type-page #edit-advanced .form-item--menu-weight,
body.is-ccpub.node-edit.page-node-type-landing-page #edit-advanced .form-item--menu-weight,
body.is-ccpub.nodeaddpage #edit-advanced .form-item--menu-weight,
body.is-ccpub.nodeaddlanding_page #edit-advanced .form-item--menu-weight,
body.is-cspub.node-edit.page-node-type-page #edit-advanced .form-item--menu-weight,
body.is-cspub.node-edit.page-node-type-landing-page #edit-advanced .form-item--menu-weight,
body.is-cspub.nodeaddpage #edit-advanced .form-item--menu-weight,
body.is-cspub.nodeaddlanding_page #edit-advanced .form-item--menu-weight {
  display: none;
}
body.is-reviewer.node-edit.page-node-type-page #edit-preview, body.is-reviewer.node-edit.page-node-type-landing-page #edit-preview, body.is-reviewer.nodeaddpage #edit-preview, body.is-reviewer.nodeaddlanding_page #edit-preview,
body.is-creator.node-edit.page-node-type-page #edit-preview,
body.is-creator.node-edit.page-node-type-landing-page #edit-preview,
body.is-creator.nodeaddpage #edit-preview,
body.is-creator.nodeaddlanding_page #edit-preview,
body.is-ccpub.node-edit.page-node-type-page #edit-preview,
body.is-ccpub.node-edit.page-node-type-landing-page #edit-preview,
body.is-ccpub.nodeaddpage #edit-preview,
body.is-ccpub.nodeaddlanding_page #edit-preview,
body.is-cspub.node-edit.page-node-type-page #edit-preview,
body.is-cspub.node-edit.page-node-type-landing-page #edit-preview,
body.is-cspub.nodeaddpage #edit-preview,
body.is-cspub.nodeaddlanding_page #edit-preview {
  display: none;
}

body.role-is-reviewer.path-node ul.tabs--primary a[rel=edit-form] {
  display: none !important;
}
body.role-is-reviewer.path-node .ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-link.button.button--danger {
  display: none;
}
body.role-is-reviewer.path-node .ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-container a, body.role-is-reviewer.path-node .ui-dialog-off-canvas #drupal-off-canvas .moderation-sidebar-container p {
  display: none;
}

body.role-is-reviewer.path-node details[data-drupal-selector="edit-access-unpublished-settings"], body.role-is-creator.path-node details[data-drupal-selector="edit-access-unpublished-settings"] {
  display: none;
}

body.role-is-reviewer a[data-drupal-link-system-path="admin/help"], body.role-is-creator a[data-drupal-link-system-path="admin/help"] {
  display: none;
}

body.role-is-creator a[data-drupal-link-system-path="admin/structure/block"] {
  display: none;
}
body.role-is-creator #block-claro-secondary-local-tasks {
  display: none;
}
body.role-is-creator table[data-drupal-selector="edit-blocks"] {
  display: none;
}
body.role-is-creator form[data-drupal-selector="block-admin-display-form"] {
  display: none;
}
body.role-is-creator #block-claro-help {
  display: none;
}

body.nodeaddempl .field-group-fieldset,
body.node-edit.page-node-type-empl .field-group-fieldset {
  width: 100% !important;
}

body.nodeaddempl .field-group-fieldset .js-form-item.form-item,
body.node-edit.page-node-type-empl .field-group-fieldset .js-form-item.form-item {
  float: inherit !important;
  width: auto;
  margin-right: auto;
}

body.nodeaddempl .field-group-fieldset .field--type-list-string,
body.node-edit.page-node-type-empl .field-group-fieldset .field--type-list-string {
  float: left;
  margin-right: 30px;
}

body.nodeaddempl .field-group-fieldset .paragraphs-subform,
body.node-edit.page-node-type-empl .field-group-fieldset .paragraphs-subform {
  max-height: 100px;
  margin-top: -90px;
  margin-left: 217px;
}

body.nodeaddempl select[name*="[subform][field_class_id]"],
body.node-edit.page-node-type-empl select[name*="[subform][field_class_id]"] {
  min-width: 165px;
}

body.nodeaddempl .paragraph-type-top div[data-drupal-selector^="edit-field-classification"],
body.node-edit.page-node-type-empl .paragraph-type-top div[data-drupal-selector^="edit-field-classification"] {
  margin-top: 30px;
  max-width: 120px;
  margin-left: 10px;
}

body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-opportunitylocation {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-opportunitylocation .claro-details__summary.form-required::before {
  display: none;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-opportunitylocation .claro-details__summary.form-required {
  padding-left: 0px;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-opportunitylocation div.claro-details__wrapper.details-wrapper {
  margin-left: 0px;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-opportunityopento {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-opportunityopento .claro-details__wrapper.details-wrapper {
  margin-left: 0px;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-opportunityopento summary.claro-details__summary::before {
  display: none;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-opportunityopento summary.claro-details__summary.form-required {
  padding-left: 0px;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-level-and span.fieldset__label {
  padding-left: 0px !important;
}
body.node-edit.user-logged-in.path-node.page-node-type-empl #edit-group-level-and div.fieldset__wrapper {
  margin-left: 0px;
}

@media screen and (min-width: 992px) {
  body.etuf-sbs.nodeaddnews .layout-region-node-main, body.etuf-sbs.nodeaddnews .layout-region-node-footer {
    width: auto;
  }

  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-main .js-form-item.form-item,
  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer .js-form-item.form-item {
    float: inherit !important;
    width: auto;
    margin-right: auto;
  }

  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-main .js-form-item.form-item:nth-child(even),
  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer .js-form-item.form-item:nth-child(even) {
    float: inherit !important;
    width: auto;
    margin-left: auto;
  }

  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-main .js-form-item.form-item.form-type--textarea {
    width: auto;
  }

  body.etuf-sbs.nodeaddnews .layout-region-node-secondary {
    width: auto;
  }

  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer .js-form-item.form-item.form-item--moderation-state-0-state,
  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer transitionset {
    float: inherit !important;
    width: auto;
    margin-right: auto;
  }

  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer .js-form-item.form-item.form-item--moderation-state-etuf-fr-0-state,
  body.etuf-sbs.nodeaddnews.path-node .layout-region-node-footer transitionset:nth-child(even) {
    float: inherit !important;
    width: auto;
    margin-left: auto;
  }
}
/* for side by side etuf css tweaks */
/**** Components Node for unpublished content *****/
/* Note that drupal-bootstrap-not-cdn.min.css sets the background-color to #fff4f4 for body.is-unpublished */
.views-row.published-no {
  background-color: pink;
  border: 3px solid hotpink;
}

.views-row.published-no h1 {
  background-color: pink;
  border: 3px solid hotpink;
}

/* Unpublished revision pending to overwrite the published revision */
.views-row.published-no.pending-draft {
  background-color: #FFECA9;
  border: 3px solid orange;
}

.views-row.published-no.pending-draft h1 {
  background-color: #FFECA9;
  border: 3px solid orange;
}

/* glyphicon-copy fix */
.glyphicon.glyphicon-copy:before {
  content: "\e205";
}

/*# sourceMappingURL=agri_admin.css.map */
